.RightSide_main{
    height:100% ;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
}
.product{
   width: 258px;
   margin: 30px; 
}
.product_image{

}
.product_name{
font-size: 16px ! important;
line-height: 24px !important;
font-weight: bold;
}
.product_rating{
    font-size: 14px;
    color: darkblue;

}
.product_price{
color: brown;
font-size: 20px;
font-weight: 600;
}