.AdvertisementOne_main{
    height: 388px;
   
    background: white;
    margin: 10px;
    min-width: 336px;
}
.AdvertisementOne_header{
font-size: 21px;
line-height: 28px;
font-weight: bold;
padding: 15px;
}
.AdvertisementOne_body{
padding-left:  15px;
display: flex;
flex-wrap: wrap;
}
.ad_fourImage{
  width: 140px;
  height: 100px;  
  margin: -5px;
}
.AdvertisementOne_footer{
padding: 15px;
}